.fullscreen-container {
  height: 50vh;
  width: 100vw;
  margin-bottom: 20px;

}

footer {
  margin-top: 25px;
}

.card {
  border: none!important;
  margin-top: 30px;
}

.single-card {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-container a {
  text-decoration: none!important;
  color: black!important;
  padding: 0!important;
  margin: 0!important;
}

.card-image {
  max-height: 50%;
}

.card-container h5 {
  text-align: left;
}


.card-first-line {
  margin-top: 10px;
  width:100%;
  font-size: 15px;
}

.card-second-line {
  font-size: 13px;
}

.button {
  background-color: #EFEFEF;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  padding-left: 5px;
  width: 50%;
  padding-right: 5px;
  margin-top: 5px;
}

.card-container .button-container {
  align-items: center;
}

.button:hover {background-color: #e3e3e3}

.button:active {
  background-color: #e3e3e3;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: auto;
  justify-content: center;
}

/* Tablet Styles */
@media only screen and (min-width: 500px) and (max-width: 799px) {

  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    justify-content: center;
  }

  .fullscreen-container {
    height: 50vh;
    width: 100vw;
  }

  .card {
    border: none!important;
  }


  .single-card {
    padding: 35px;
  }

  .button {
    width: 45%;
    font-size: 19px;
  }

  .card-first-line {
    margin-top: 10px;
    width:100%;
    font-size: 24px;
  }

  .card-second-line {
    font-size: 20px;
  }

  .card-image {
    max-height: 50%;
  }

}

@media only screen and (min-width:800px) and (max-width: 1124px)
{
  .fullscreen-container {
    height: 100vh;
    width: 100vw;
  }

  .card {
    border: none!important;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .top {
    padding-top: 100px;
  }

  .bottom {
    padding-bottom: 80px;
  }

  .left {
    padding-left: 75px;
    padding-right: 35px;
  }

  .right {
    padding-left: 35px;
    padding-right: 75px;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    justify-content: center;
  }

  .card-image {
    max-height: 75%;
  }

  .button {
    width: 50%;
    font-size: 16px;
  }

  .single-card {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

  }

  .card-first-line {
    margin-top: 10px;
    width:100%;
    font-size: 18px;
  }

  .card-second-line {
    font-size: 16px;
  }
}


/* Desktop Styles */
@media only screen and (min-width: 1125px) {

  .fullscreen-container {
    height: 100vh;
    width: 100vw;
  }

  .card {
    border: none!important;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .top {
    padding-top: 100px;
  }

  .bottom {
    padding-bottom: 80px;
  }

  .left {
    padding-left: 75px;
    padding-right: 35px;
  }

  .right {
    padding-left: 35px;
    padding-right: 75px;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    justify-content: center;
  }

  .card-image {
    max-height: 75%;
  }

  .button {
    width: 40%;
    font-size: 24px;
  }

  .single-card {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

  }


  .card-first-line {
    margin-top: 10px;
    width:100%;
    font-size: 28px;
  }

  .card-second-line {
    font-size: 24px;
  }
}
